<head>
	<link rel="stylesheet" href="/css/character.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		{{!--<div id="charinfolist">--}}
		{{!--<div id="rectanglesmall">--}}
			
		{{!--</div>--}}
		<div id="charinfolist">
			{{!--<p><b>Character Name:</b> {{characterName}}</p>--}}
			{{!--<p><h2>Level X Paladin</h2></p>--}}
			{{!--<p><h2>Level Y Warlock</h2></p>--}}
			{{!--<p><h2></h2></p>--}}
		</div>
	</div>
	
	{{>footer}}
	<script src="/js/character.js"></script>
</body>