<head>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p><h2>Welcome to Omaha D&D</h2></p>
		<p>We're just a small local D&D group that  enjoys expressing ourselves, and relaxing with friends, through D&D. We're also highly committed to making D&D accessible to everyone in the Omaha area, which is why we host "D&D 101" sessions where members of our group teach an introductory course to help new players learn the ropes. Check out our schedule for more infomration!</p>
	{{!--	<table id="charList">--}}
	{{!--		<tr>--}}
	{{!--			<th> </th>--}}
	{{!--			<th>ID</th>--}}
	{{!--			<th>Name</th>--}}
	{{!--		</tr>--}}
	{{!--	</table>--}}
	{{!--	<br>--}}
	{{!--	<form>--}}
			{{!--<label for="action">Action:</label>--}}
	{{!--		<select name="action" id="action">--}}
	{{!--			<option value="checkin">Check in</option>--}}
	{{!--			<option value="checkout">Check out</option>--}}
	{{!--			<option value="update">Re-sync</option>--}}
	{{!--			<option value="delete">Delete</option>--}}
	{{!--		</select>--}}
	{{!--		<button>Submit</button>--}}
	{{!--	</form>--}}
	{{!--</div>--}}
	
	{{>footer}}
	<script src="/js/index.js"></script>
</body>