<head>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>Welcome to Omaha D&D</p>
		<table id="charList">
			<tr>
				<th> </th>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</table>
		<br>
	</div>
	
	{{>footer}}
	<script src="/js/listcharacters.js"></script>
</body>