<head>
    <link rel="stylesheet" href="/css/search.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Search for a character</p>
        
        <form autocomplete="off">
        	
            <div id="charname" class="autocomplete">
                <input placeholder="Character Name" size="32" type="text" id="cnamein">
            </div>
            
            <input type="submit">
        </form>
        
        <script src="/js/autocomplete.js"></script>
    </div>
    
    {{>footer}}
    <script src="/js/search.js"></script>
</body>